.app {
  display: flex;
  padding: 30px;
}

.game {
  width: 656px;
  height: 662px;
  display: flex;
  flex-wrap: wrap;
}

/* this means any img are in the div of the class of game*/
.game img {
  width: 70px;
  height: 70px;

  margin: 2px;
}

.gameboar-wrapper {
  background-color: rgba(0, 0, 0, 0.087);
  padding: 5px;

  border: solid pink 5px;
  border-radius: 10px;
}

.candy-wrapper {
  padding: 4px;
  padding-bottom: 0;
}

.candy-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.533);

  border-radius: 10px;
}

.scoreboard {
  margin: 10px;
}
